nav(class='navbar navbar-expand navbar-light bg-hitam topbar mb-3 static-top')
 button(id='sidebarToggleTop', class='btn btn-link d-md-none rounded-circle mr-3')
  i(class='fa fa-bars')
 span(class='mr-2 d-none d-lg-inline text-white text-lg')
  span(class='text text-success font-weight-bold') WhatsApp - Blaster
 ul(class='navbar-nav ml-auto')
  li(class='nav-item')
   small(class='d-none d-lg-inline text-white') Ini Jam
