script(src='javascripts/jquery.min.js')
script(src='plugins/quill/quill.min.js')
script(src='javascripts/quill-emoji.js')
script(src='javascripts/datatables.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/fontawesome.min.js')

script(src='javascripts/jsku.js')
