
ul(class='navbar-nav bg-hitam sidebar sidebar-dark accordion', id='accordionSidebar')

 a(class='sidebar-brand my-0 d-flex align-items-center justify-content-center')
  div(class='sidebar-brand-text my-0') WBelas
   sup V3

 hr(class='sidebar-divider my-0')

 li(class='nav-item dashboard my-0')
  a(class='nav-link', href='/')
   i(class='fas fa-house-damage')

   span Dashboard

 li(class='nav-item penerima')
  a(class='nav-link', href='/penerima')
   i(class='fas fa-fw fa-chart-pie')
   span Penerima

 li(class='nav-item pengaturan')
  a(class='nav-link', href='/pengaturan')
   i(class='fas fa-fw fa-wrench')
   span Pengaturan


  	

 