div(class='col-md-4')
 div(class='card')
  h6(class='card-header') Status Pengiriman
  div(class='card-body')
   button(class='btn btn-sm btn-secondary mb-2 hilang', id='grab1') Grab Contact
   h4(class='sidebar-divider')
   ol(class='list-group', id='penerima')